*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: "ALK Life", sans-serif;}
    /******** header ******/
    header.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: 
    #D9D9D9;
    width: 
    1440px;
    height:200px ;
}

header ul{
    display: flex;
}
.menu-list-item-link{
    color:
    #717276;
    font-family: "ALK Life", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}
.active-link{
    color: red;
    font-size: 24px;
}
.menu-list-item{
    margin: 0 35px;
}
.logo{
    width: 
    178px;
    height: 100px;
}
/****** background imige ******/
.background{
    width: 
    1180px;
    height: 287px;
    margin: 160px 130px 0 130px; 
    
}
/******* pirveli mshobeli ******/

header.perent{
    display: flex;
    align-items: center;
    background-color: 
white;
    width:  
533px;
    height:100px ;
    margin: 160px 0 0 130px;
}


.text-qalebi{
    font-family: "DejaVu Sans", sans-serif;
    font-size: 32px;
    color: 
    #717276;
    align-items: center;
    margin:0 40px;
}

/****** meore mshobeli ******/
.perent2{
    display: flex;
   
    
    
}
.shvili-1{
    margin:  130px;
}
.shvili-2{
    margin: 0 20px 0 20px;
}
.text{
    font-family: "DejaVu Sans", sans-serif;
    font-size: 24px;
    color: green;

}
.text-2{
    font-family: "ALK Life", sans-serif;
    font-size: 24px;
    color: red;
    margin: 40px 20px 0 20px;
}
.text-fasi{
    font-family: "DejaVu Sans", sans-serif;
    font-size: 25px;
    color: brown;

}
